dirs: [/home/allan/music, /media/music, /opt/media/, /home/allan/]
hostname: localhost
port: 8080
database:
  hostname: localhost
  user: nott
  password: nottify
  database: nottify
  table_prefix: "no"
